
.father{
  width: 350px;
  border: 1px solid black;
  margin: 10px;
  box-sizing: border-box;
  background: yellow;
}
.App{
  box-sizing: border-box;
  flex-wrap: wrap;
}

.card{
  width: 350px;
  border: 1px solid black;
  margin: 10px;
  box-sizing: border-box;
  background: #61dafb;
}
.App>div{
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}
.App>div>div{
  background: #61dafb;
  text-align: center;
  height:500px;
  width: 300px;
  border: 1px solid black;
  margin: 10px;

}